doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hello World

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    body(bgcolor=blue)

    article

      section
        h1 Tugas Tkppl
        h2 Kelompok: AIR_YO
        h3 Disusun Oleh:
        h4 1.Anjas Kurniawn Rambe (131111441)
        h4 2.Idral Zuanda.AR (131112071)
        h4 3.Rini Tiryaningsih Purba (131113255)
        h4 4.Yogi Arista BatuBara (131112403)
        
      section
        h2 Objek Wisata di Indonesia
        ul
          li Wisata Riau Fantasi
          li Wisata Gunung Sibayak
          li Wisata Danau Buatan Lembah Sari
          li Wisata Istana Siak Sri Indrapura
          li Wisata Kebun Binatang Sang Kulim
          li Wisata Taman Rekreaksi Alam Mayang
          li Wisata Kawah Putih Medan
          li Wisata Pantai Cermin
          li Wisata Air Terjun 
          
        

      section
        h2 Wisata Kawah Putih Medan
        ul
          li letak Lokasi: Medan-LubukPakam-Galang-BangunPurba-Dolok Tinggi raja.
          li memiliki 4 mata kawah air panas, yang suhunya mencapai 90 derjat celcius. 
        
       

      section(data-bespoke-hash='named-route')
        h2 Wisata Riau Fantasi
        h3 Riau Fantasi memiliki dua arena wahana kering dan basah. 
        Di wahana permainan air, ada beberapa jenis kolam 
        dan papan seluncur air misalnya saja Adventure Pool. 
        Di kolam ini terdapat beberapa menara yang dihubungkan dengan jembatan goyang.
        Untuk wahana keringnya, ada berbagai permainan yang menguji adrenalin 
        seperti kora-kora, sky tower, 
        wave blaster,  speedy coaster dan family swinger. 
        Jika ingin permainan yang lebih santai, 
        Anda bisa mencoba komedi putar dan kereta wisata. 
        Fasilitas pendukung di tempat wisata ini selain mushola, 
        toilet dan kafetaria adalah gazebo dan free WiFi.

      section
        
        h2 Wisata Pantai Cermin
        ul
          li Letak Lokasi : Perbaungan
          li Pantai yang sering dikunjungi wisatawan
          li objek wisata
          li memiliki water park
        
        
        
      section
        
        h2 Wisata Air Terjun Tara Ni Onggang
        ul
            li Letak lokasi : Kabupaten simalungun
            li banyak di kunjungi
            li lokasi nya strategis
        
      section
       
       
        ul
          li
            strong Sekian dan Terimakasih 
           

    script(src='build/build.js')

    script(src='build/build.js')